MONARCH_EMAIL=your_email@example.com
MONARCH_PASSWORD=your_password
# If required, set the MFA secret key below using the Monarch two-factor text code from settings:
# MONARCH_MFA_SECRET=your_mfa_secret
